// COLORS
//      BACKGROPUNDS COLORS
$bg-main: #151212;
$bg-main-transparent: #16131380;
$bg-secondary: #393939;
$detail-color: #ffffff;

//      TEXTS COLORS
$text-main: #ffffff;

//      CARDS BACKGROUND
$blue-card: #5151cde6;
$green-card: #55cd51e6;
$rose-card: #cd51aee6;
$yellow-card: #cdb051e6;

// ELEMENTS SIZES
$navbar-height: 70px;

// RADIUS
$radius-main: 5px;